.header {
    display: flex;
    margin: auto;
    padding: 10px;
    background-color: bisque;
    text-decoration: solid;
    border: 2px solid;
    border-radius: 10%;
    border-color: rgb(201, 118, 16);
    color: rgb(255 , 255, 255);
    
    
}
.header h1{
    color: brown;
}